$inp-dark-primary-palette: (
  p900: #6abef8,
  p700: #45a3f1,
  p500: #007aff,
  p400: #085dc8,
  p200: #0545a7,
  p100: #063261,
  p050: #112b48,
);

$inp-dark-gray-palette: (
  g900: #eef2f6,
  g850: #9ba9c3,
  g800: #8b9bb8,
  g500: #768eb1,
  g400: #617aa0,
  g300: #415c85,
  g200: #2a4164,
  g100: #223954,
  g050: #1c3148,
  g020: #1b2e44,
  g000: #0c111a,
);

$inp-dark-error-palette: (
  e900: #cc848a,
  e700: #be6367,
  e500: #a02327,
  e400: #5b242f,
  e200: #50222d,
  e100: #322432,
);

$inp-dark-success-palette: (
  s900: #d4fcd1,
  s700: #74f183,
  s500: #1dd357,
  s400: #15b558,
  s200: #097a4e,
  s100: #056549,
);

$inp-dark-warning-palette: (
  w700: #ffe699,
  w500: #ffa500,
  w200: #b76900,
  w100: #7a3d00,
);

$inp-dark-information-palette: (
  i700: #d699fc,
  i500: #6f05e6,
  i200: #3f02a5,
  i100: #2c0185,
);
