$primary-palette: (
  900: #6abef8,
  700: #45a3f1,
  500: #007aff,
  400: #085dc8,
  200: #0545a7,
  100: #063261,
  50: #112b48,
);

$gray-palette: (
  900: #eef2f6,
  850: #9ba9c3,
  800: #8b9bb8,
  500: #768eb1,
  400: #617aa0,
  300: #415c85,
  200: #2a4164,
  100: #223954,
  050: #1c3148,
  020: #1b2e44,
  000: #0c111a,
);

$error-palette: (
  900: #cc848a,
  700: #be6367,
  500: #a02327,
  400: #5b242f,
  200: #50222d,
  100: #322432,
);

$success-palette: (
  900: #d4fcd1,
  700: #74f183,
  500: #1dd357,
  400: #15b558,
  200: #097a4e,
  100: #056549,
);

$warning-palette: (
  700: #ffe699,
  500: #ffa500,
  200: #b76900,
  100: #7a3d00,
);

$indigo-palette: (
  700: #d699fc,
  500: #6f05e6,
  200: #3f02a5,
  100: #2c0185,
);
