<mat-drawer-container ngskiphydration class="h-full !bg-card">
  <mat-drawer-content class="!flex flex-col">
    <baam-public-header></baam-public-header>
    <div class="flex flex-wrap flex-1">
      <div
        class="w-full max-sm:mt-8 md:flex md:items-center md:justify-center md:w-1/2"
      >
        <div class="flex justify-center w-full max-sm:h-full">
          <div class="w-3/4 sm:w-1/2 md:w-2/3 md:mt-12 lg:w-1/2">
            <div class="flex flex-col items-center max-sm:h-full max-sm:pb-8">
              <img
                class="w-[50px] overflow-hidden rounded-md"
                src="assets/images/baam-fill.svg"
                alt=""
              />
              <h3 class="!mt-6 text-center !font-medium max-sm:!mb-2" i18n>
                به بام خوش اومدین!
              </h3>
              <div class="text-foreground/80 mat-body-strong" i18n>
                سامانه بانکداری دیجیتال بانک ملی ایران
              </div>
              <div class="mt-10 w-full flex-1">
                <form
                  class="h-full flex flex-col"
                  [formGroup]="form"
                  (ngSubmit)="submit()"
                >
                  <div class="flex flex-col">
                    <mat-form-field appearance="outline">
                      <mat-label i18n>نام کاربری</mat-label>
                      <input type="text" matInput formControlName="username" />
                      <mat-error *ngIf="username?.hasError('required')">
                        <baam-error-message
                          messageId="required"
                        ></baam-error-message>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label i18n>رمز عبور</mat-label>
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        matInput
                        formControlName="password"
                      />
                      <button
                        (click)="showPassword = !showPassword"
                        type="button"
                        mat-icon-button
                        matSuffix
                      >
                        <mat-icon
                          [fontIcon]="
                            showPassword ? 'visibility' : 'visibility_off'
                          "
                        ></mat-icon>
                      </button>
                      <mat-error *ngIf="password?.hasError('required')">
                        <baam-error-message
                          [messageId]="errorMsgKey"
                        ></baam-error-message>
                      </mat-error>
                    </mat-form-field>

                    <div class="mt-3 flex items-start justify-end">
                      <a
                        i18n
                        class="text-primary hover:text-primary-900 underline"
                        >فراموشی نام کاربری/رمز عبور</a
                      >
                    </div>
                    <button
                      class="!mt-12"
                      mat-raised-button
                      color="primary"
                      i18n
                      type="submit"
                      [ngClass]="{
                        'overlay-spinner !cursor-progress': loading
                      }"
                    >
                      ورود به سامانه&zwnj;ی بام
                    </button>
                  </div>
                  <div *ngIf="!isMobile" class="mt-2 text-center">
                    <a i18n mat-button routerLink="#" color="primary"
                      >غیر فعال سازی بام بان</a
                    >
                  </div>
                  <div
                    *ngIf="!isMobile"
                    class="flex flex-col items-center md:mt-24"
                  >
                    <a i18n mat-button routerLink="#" color="primary"
                      >ثبت نام در بام</a
                    >
                    <div i18n class="text-foreground/70 text-center">
                      برای دریافت خدمات هوشمند بانکی، به صورت امن، ساده و سریع
                      در بام ثبت نام کنین.
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-0 md:w-1/2">
        <div class="cover-image">
          <img src="assets/images/login/cover-image.png" alt="" />
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
