@use "@angular/material" as mat;
@include mat.core();

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "vazir-font/dist/Farsi-Digits/font-face-FD.css";
@import "./app/themes/default-theme";
@import "./app/themes/spring-theme";
@import "./app/themes/dark-theme";

@include mat.all-component-themes($default-theme);

:root {
  --mat-toolbar-standard-height: 60px;
  --mat-toolbar-mobile-height: 52px;
  --mat-toolbar-container-background-color: white;
  --mat-toolbar-container-text-color: rgba(0, 0, 0, 0.87);
  --mdc-text-button-label-text-color: inherit;
  --mdc-outlined-button-label-text-color: inherit;
}

@font-face {
  font-family: Vazir FD !important;
  src: url("~vazir-font/dist/Farsi-Digits/Vazir-Regular-FD.eot");
  src: url("~vazir-font/dist/Farsi-Digits/Vazir-Regular-FD.eot?#iefix")
      format("embedded-opentype"),
    url("~vazir-font/dist/Farsi-Digits/Vazir-Regular-FD.woff2") format("woff2"),
    url("~vazir-font/dist/Farsi-Digits/Vazir-Regular-FD.woff") format("woff"),
    url("~vazir-font/dist/Farsi-Digits/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px !important;
}

*:not(.material-icons, .icon) {
  font-family: Vazir FD !important;
  letter-spacing: normal;
}

button.mdc-button.mat-mdc-button-base:not(.mat-mdc-icon-button),
a.mdc-button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
  height: 46px;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 14px;
  padding-bottom: 14px;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 26px;
}
.mat-mdc-form-field-infix {
  min-height: 52px;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  transform: translateY(-34.75px) scale(0.75, 0.75) !important;
}
small {
  font-size: 80%;
}

.border-foreground\/10 {
  border-color: rgb(var(--foreground-color), 0.1);
}

.bg-foreground\/30 {
  background-color: rgb(var(--foreground-color), 0.3);
}

.mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-mdc-list-base {
  --mdc-list-list-item-label-text-size: 0.875rem;
}
.mat-expansion-panel-header {
  --mat-expansion-header-text-size: 0.875rem;
}
.mat-mdc-menu-content {
  --mat-menu-item-label-text-size: 0.875rem;
}
.mat-mdc-slide-toggle {
  --mdc-switch-unselected-handle-color: #eff6ff !important;
  --mdc-switch-unselected-hover-handle-color: #eff6ff !important;
  --mdc-switch-unselected-pressed-handle-color: #eff6ff !important;
  --mdc-switch-unselected-focus-handle-color: #eff6ff !important;
}

.mat-mdc-slide-toggle .mdc-switch__icons svg {
  display: none;
}
.mat-elevation-z0,
.mat-mdc-elevation-specific.mat-elevation-z0 {
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
}

.dark-scheme {
  @include mat.all-component-colors($dark-theme);
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  --foreground-color: 255, 255, 255;
  --mdc-list-list-item-label-text-size: 0.875rem;
  --mat-divider-color: rgba(0, 0, 0, 0.12);
  --mat-toolbar-container-background-color: #232938 !important;
  --mat-menu-container-color: #232938 !important;
  --mat-expansion-container-background-color: #232938 !important;
  --card-background-color: 35, 41, 56;
  .mat-mdc-menu-panel {
    color: #fff;
  }

  .cdk-overlay-backdrop {
    background-color: rgb(var(--foreground-color));
    opacity: 0.3 !important;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  }
}
.theme--default {
  @include mat.core-color($default-theme);
  @include mat.button-color($default-theme);
}

.theme--spring {
  @include mat.core-color($spring-theme);
  @include mat.button-color($spring-theme);
}

.\!bg-card {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(
    var(--card-background-color),
    var(--tw-bg-opacity)
  ) !important;
}
*,
:before,
:after {
  border-color: currentColor;
}
